/* FEUILLE DE STYLES POUR LES MENUS SOUS FORME D'ONGLETS */

.menus 
{
   font:12px "Calibri", "Comic Sans MS", "Times New Roman", Times, serif;
   /* list-style-type est à préciser impérativement sinon l'onglet actif est 
   marqué d'un point avec certains navigateurs (ex : FireFox) */
   list-style-type:none;
   /* Il est impératif de mettre une marge gauche négative sinon décalage */ 
   margin-left:auto;
   margin-right: auto;
   text-align:center;
   box-shadow: 3px 3px 0px rgb(150,150,150);
   height: 20px;
   width: 900px;
   padding: 0;
}

/* Style général de chaque onglet */
.menus li  
{
   /* Fond vert pâle (c'est la couleur de fond de l'onglet ouvert) 
   Ce fond sera recouvert par un Fond vert pour les onglets fermés */
   background-color:#373737;
   /* Couleur rouge */
   color:#FFFFFF;
   float:left;
   margin:0;
   padding: 0;
   /* Bordure blanche */
   border: none;
   /* Logiquement, le pourcentage devrait être égal à 100/nombre d'onglets 
   mais les bordures prennent de la place ; il faut donc réduire à 18% 
   certains navigateurs n'acceptent pas les nombres réels donc on met
   un nombre entier) mais pour l'onglet actif, on passe à 20% (voir styles 
   ongletOuvertPrem et ongletOuvert) */
   width:128px;
   height:100%;
   line-height: 20px;
}

/* Style de l'onglet ouvert cas 1er onglet */
.menus .ongletOuvertPrem 
{ 
   /* Effacement du trait inférieur (pour cela, on le met de la même couleur que
   le fond de la page) */
   
   width:14.5%;
}
/* Style de l'onglet ouvert cas autres onglets que le 1er */
.menus .ongletOuvert 
{ 
   /* Effacement du trait inférieur et du trait de gauche (pour cela, on les met 
   de la même couleur que le fond de la page) */
   width:14.5%;
}

/* Style de l'onglet non ouvert cas 1er onglet */
.menus .ongletPrem 
{ 
   /* Fond vert */
   background-color:#252525;
   /* Couleur rouge */
   color:#FFFFBB;
   margin:0;
}

/* Style du lien d'un onglet non ouvert cas 1er onglet */
.menus .ongletPrem a 
{ 
   /* Fond vert */
   /* Couleur rouge */
   color:#FFFFBB;
   /* Pas de soulignement du lien */
   text-decoration:none;
}

/* Style de l'onglet non ouvert cas autres onglets que le 1er */
.menus .onglet 
{ 
   /* Fond vert */
   background-color:#252525;
   /* Couleur rouge */
   color:#FFFFFF;
   margin:0;
   /* Effacement du trait de gauche (pour cela, on le met de la même couleur que 
   le fond de l'onglet) */
}

/* Style du lien d'un onglet non ouvert cas autres onglets que le 1er */
.menus .onglet a 
{ 
   /* Fond vert */
   /* Couleur rouge */
   color:#FFFFBB;
   /* Pas de soulignement du lien */
   text-decoration:none; 
}


